.table, .table th
{
	text-align: center;
}
.table
{
	border-radius: 5px;
}
.table-brand
{
	line-height: 50px;
}

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.img-box
{
	height: 100px;
	width:100px;
	/*border:1px solid red;*/
	margin:auto;
	border-radius: 5px;
}

.img-box p
{
	text-align: center;
	transform: rotate(30deg);
	line-height: 100px;
}

.img-brandList
{
	height: 50px;
	width: 50px;
	margin-left: 10px;
}

.btn-brandList
{
	margin-top: 10px;
}

